<!--------------- style-section --------------->
<section class="product fashion-style">
  <div class="container">
    <div class="style-section">
      <div class="row gy-4 gx-5 gy-lg-0">
        <div class="col-lg-6">
          <div class="product-wrapper wrapper-one" data-aos="fade-right">
            <div class="wrapper-info">
              <span class="wrapper-subtitle">NEW STYLE</span>
              <h4 class="wrapper-details">
                Get 65% Offer
                <span class="wrapper-inner-title">& Make New</span> Fusion.
              </h4>
              <a href="product-list" class="shop-btn"
                >Shop Now
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="1.45312"
                      y="0.914062"
                      width="9.25346"
                      height="2.05632"
                      transform="rotate(45 1.45312 0.914062)"
                    />
                    <rect
                      x="8"
                      y="7.45703"
                      width="9.25346"
                      height="2.05632"
                      transform="rotate(135 8 7.45703)"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product-wrapper wrapper-two" data-aos="fade-up">
            <div class="wrapper-info">
              <span class="wrapper-subtitle">Mega OFFER</span>
              <h4 class="wrapper-details">
                Make your New
                <span class="wrapper-inner-title">Styles with Our</span>
                Products
              </h4>
              <a href="product-list" class="shop-btn"
                >Shop Now
                <span>
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="1.45312"
                      y="0.914062"
                      width="9.25346"
                      height="2.05632"
                      transform="rotate(45 1.45312 0.914062)"
                    />
                    <rect
                      x="8"
                      y="7.45703"
                      width="9.25346"
                      height="2.05632"
                      transform="rotate(135 8 7.45703)"
                    />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--------------- style-section-end --------------->

<!--------------- category-section--------------->
<section class="product-category">
  <div class="container">
    <div class="section-title">
      <h5>Our Categories</h5>
      <a href="product-sidebar.html" class="view">View All</a>
    </div>
    <div class="category-section">
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="100"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/dresses.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Dresses</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="200"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/bags.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details"
            >Leather Bags</a
          >
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="300"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/sweaters.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Sweaters</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="400"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/shoes.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Boots</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="500"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/gift.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details"
            >Gift for Him</a
          >
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="600"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/sneakers.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Sneakers</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="100"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/watch.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Watch</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="200"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/ring.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Gold Rings</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="300"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/cap.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Cap</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="400"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/glass.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Sunglass</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="500"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/baby.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details">Baby Shop</a>
        </div>
      </div>
      <div
        class="product-wrapper"
        data-aos="fade-right"
        data-aos-duration="200"
      >
        <div class="wrapper-img">
          <img
            src="./assets/images/homepage-one/category-img/bags.webp"
            alt="dress"
          />
        </div>
        <div class="wrapper-info">
          <a href="product-sidebar.html" class="wrapper-details"
            >Leather Bags</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--------------- category-section-end--------------->
<!--------------- brand-section-end--------------->
<!--------------- arrival-section--------------->
<section class="product arrival">
  <div class="container">
    <div class="section-title">
      <h5>NEW ARRIVALS</h5>
      <a href="product-list" class="view">View All</a>
    </div>
    <div class="arrival-section">
      <div class="row g-5">
        <div
          class="col-lg-3 col-sm-6"
          *ngFor="
            let product of filteredProducts
              | paginate
                : { itemsPerPage: itemsPerPage, currentPage: currentPage }
          "
        >
          <div class="product-wrapper" data-aos="fade-up">
            <div class="product-img">
              <img
                [src]="getValidImageUrl(product.imageUrl)"
                [alt]="product.name"
                class="img-fluid"
              />
              <div class="product-cart-items">
                <a href="#" class="cart cart-item">
                  <span>
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="white" />
                      <path
                        d="M12 14.4482V16.5664H12.5466H13.0933V15.3957V14.2204L15.6214 16.7486L18.1496 19.2767L18.5459 18.8759L18.9468 18.4796L16.4186 15.9514L13.8904 13.4232H15.0657H16.2364V12.8766V12.33H14.1182H12V14.4482Z"
                        fill="#181818"
                      />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="product-info">
              <div class="product-description">
                <a [routerLink]="['/product-details', product.id]">
                  <h5>{{ product.name }}</h5>
                </a>
                <span class="product-price">{{
                  product.price | currency
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    (pageChange)="currentPage = $event"
    previousLabel="«"
    nextLabel="»"
    class="pagination-controls"
  ></pagination-controls>
</section>

<!--------------- arrival-section-end--------------->
